body{
    background-image: url("pic5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: arial;
        }

h1{
    font-size: 50px;
    color: #7289da;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #e1dcd9;
    
        }

.heading2{
    font-weight: 20px;
    font-size: 35px;
    font-family: fantasy;
    padding: 25px;
    margin-right: 750px;
    background-color: #55c9ea;

}

.heading1{
    font-weight: 20px;
    font-size: 35px;
    font-family: fantasy;
    padding: 25px;
    margin-right: 790px;
    background-color: #55c9ea;

}

.heading3{
    font-weight: 20px;
    font-size: 35px;
    font-family: fantasy;
    padding: 25px;
    margin-right: 790px;
    background-color: #55c9ea;

}

.heading4{
    font-weight: 20px;
    font-size: 35px;
    font-family: fantasy;
    padding: 25px;
    margin-right: 790px;
    background-color: #55c9ea;

}




a{
    color: white;
    padding: 10px 10px 10px 10px;
    background-color: #006bff;
    text-decoration: underline;
         }

a:hover{
    color: #000000;
    text-decoration: none;
         }

.container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    font-family: arial;
    padding: 25px;
    background-color: #e0edff;
}        

.parallax1{
    background: url('pic4.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} 

.parallax2{
    background: url('img/pic2.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} 

.parallax3{
    background: url('pic3.jpg') no-repeat center; 
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
} 

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #fc83a1;
  color: white;
}